In [5]:
import pandas as pd
import numpy as np

In [15]:
s = pd.Series(["Alquiler", "Comida", "Gastos", "Ocio", "Aliexpress"])
s

0      Alquiler
1        Comida
2        Gastos
3          Ocio
4    Aliexpress
dtype: object

In [17]:
s2 = dict(s)
s2

{0: 'Alquiler', 1: 'Comida', 2: 'Gastos', 3: 'Ocio', 4: 'Aliexpress'}

In [38]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64