In [55]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder, RobustScaler, Normalizer
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_transformer
from sklearn.metrics import accuracy_score, r2_score, mean_squared_error
import matplotlib.pyplot as plt
from sklearn.svm import SVR
from scipy import stats
import seaborn as sns
%matplotlib inline
import sys
sys.path.append('C:\\DATA_SCIENCE')
from LIBRARY.Libreria_Folders_DVG import *
from LIBRARY.Libreria_Pandas_DVG import *
from LIBRARY.Libreria_ML_DVG import *
from LIBRARY.Libreria_Maths_DVG import *

In [56]:
df = barr_add('C:\DATA_SCIENCE\MACHINE_LEARNING\Competition_Kaggle_05_02_21\diamonds_train.csv')

In [57]:
df= pd.read_csv(df)

In [58]:
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.21,Ideal,H,VS2,63.0,57.0,6.73,6.70,4.23,6134
1,1,0.28,Very Good,D,VVS2,64.0,56.0,4.14,4.17,2.66,532
2,2,0.42,Premium,F,VS1,61.2,58.0,4.86,4.82,2.96,1103
3,3,0.26,Ideal,H,IF,61.1,57.0,4.16,4.12,2.53,600
4,4,1.10,Good,G,SI1,63.4,57.0,6.52,6.55,4.14,4997
...,...,...,...,...,...,...,...,...,...,...,...
40340,40340,1.55,Premium,H,VS2,61.3,61.0,7.46,7.39,4.55,11708
40341,40341,0.36,Ideal,D,SI1,60.6,56.0,4.58,4.63,2.79,619
40342,40342,0.57,Very Good,I,VS2,62.2,55.0,5.33,5.34,3.32,1267
40343,40343,1.01,Very Good,F,IF,59.6,62.0,6.47,6.56,3.88,9965
40344,40344,0.54,Ideal,E,SI2,60.4,57.0,5.33,5.27,3.20,1340

In [ ]:
encoder(df, ['cut', 'color', 'clarity'])

In [62]:
#df = pd.get_dummies(df, columns=['cut', 'color', 'clarity'])

"ohe_df = pd.get_dummies(df, columns=['Gender', 'Married', 'Education'])"

In [63]:
X = np.array(df[df.columns.difference(['Unnamed: 0', 'price'])])
y = np.array(df['price'])

In [64]:
X.shape, y.shape

((40345, 9), (40345,))

In [65]:
from sklearn.svm import SVR
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.20, random_state=343)
pipeline = SVR()
pipeline.fit(X_train, y_train)

SVR()

In [67]:
y_pred = pipeline.predict(X_test)

In [68]:
pipeline.fit(X,y)

SVR()

In [69]:
print('RMSE:',mean_squared_error(y_test, y_pred, squared=False))

RMSE: 4251.959964029648

In [70]:
to_pred = pd.read_csv("diamonds_test.csv")

In [71]:
encoder(to_pred, ['cut', 'color', 'clarity'])

In [72]:
X2 = np.array(to_pred[to_pred.columns.difference(['Unnamed: 0', 'price'])])

In [73]:
predictions_submit = pipeline.predict(X2)

In [74]:
submission = pd.DataFrame({"id": to_pred["Unnamed: 0"], "price": predictions_submit})
submission

          id        price
0          0  2344.618957
1          1  2348.111052
2          2  2472.861614
3          3  2340.656513
4          4  2470.646902
...      ...          ...
13444  13444  2414.589567
13445  13445  2329.234002
13446  13446  2457.301291
13447  13447  2492.744405
13448  13448  2323.583705

[13449 rows x 2 columns]

In [66]:
sample = pd.read_csv("sample_submission.csv")

In [75]:
if submission.shape == sample.shape:
    if submission.columns.all() == sample.columns.all():
        if submission.id.all() == sample.id.all():
            print("you're ready to submit!")
            submission.to_csv("to_submit1.csv", index = False)

you're ready to submit!

In [76]:
"""x = np.array([5, 8 , 12, 15])         

#Using Sklearn
normalizer_x = preprocessing.Normalizer(norm = "l2").fit(x)
x_norm = normalizer_x.transform(x)[0]
print x_norm

>array([ 0.23363466,  0.37381545,  0.56072318,  0.70090397])""" #NORMALIZE-----------------

'x = np.array([5, 8 , 12, 15])         \n\n#Using Sklearn\nnormalizer_x = preprocessing.Normalizer(norm = "l2").fit(x)\nx_norm = normalizer_x.transform(x)[0]\nprint x_norm\n\n>array([ 0.23363466,  0.37381545,  0.56072318,  0.70090397])'

In [77]:
"""#Manually
w = np.sqrt(sum(x**2))
x_norm2 = x/w
print x_norm2

>array([ 0.23363466,  0.37381545,  0.56072318,  0.70090397])""" #MANUAL NORMALIZE----------------

"""So turning them "back" to the raw formate is simple by multiplying with "w".""" # UNDO NORMALIZE--------------------------

'So turning them "back" to the raw formate is simple by multiplying with "w".'