# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
pd.read_csv(url, sep = '\t')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
chipo[:10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [6]:
chipo.loc[:10] #incluye el ultimo
chipo.iloc[:10] #no lo incluye

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [7]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

### Step 5. What is the number of observations in the dataset?

In [8]:
# Solution 1
chipo.count().max()

4622

In [9]:
chipo.count()#no cuenta los nulos(fila entera con nnul)

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [10]:
# Solution 2
chipo.info() #funcion

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [11]:
chipo.info #seria atributo

<bound method DataFrame.info of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]>

In [12]:
chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [13]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [14]:
[x for x in enumerate(chipo.columns)]

[(0, 'order_id'),
 (1, 'quantity'),
 (2, 'item_name'),
 (3, 'choice_description'),
 (4, 'item_price')]

### Step 8. How is the dataset indexed?

In [15]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [16]:
chipo.groupby("item_name").sum()

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [17]:
chipo.groupby("item_name").sum().max() #devuelve una serie

order_id    713926
quantity       761
dtype: int64

In [18]:
chipo.groupby("item_name").sum().sort_values("quantity", ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [19]:
chipo.groupby("item_name").agg(["sum", "mean"])

                                      order_id              quantity
                                           sum         mean      sum      mean
item_name
6 Pack Soft Drink                        52322   968.925926       55  1.018519
Barbacoa Bowl                            53972   817.757576       66  1.000000
Barbacoa Burrito                         74718   821.076923       91  1.000000
Barbacoa Crispy Tacos                     5613   510.272727       12  1.090909
Barbacoa Salad Bowl                       9708   970.800000       10  1.000000
Barbacoa Soft Tacos                      18725   749.000000       25  1.000000
Bottled Water                           175944  1086.074074      211  1.302469
Bowl                                       472   236.000000        4  2.000000
Burrito                                   1550   258.333333        6  1.000000
Canned Soda                              76396   734.576923      126  1.211538
Canned Soft Drink                       304753  1012.468439      351  1.166113
Carnitas Bowl                            62742   922.676471       71  1.044118
Carnitas Burrito                         51652   875.457627       60  1.016949
Carnitas Crispy Tacos                     5868   838.285714        8  1.142857
Carnitas Salad                            1500  1500.000000        1  1.000000
Carnitas Salad Bowl                       6693  1115.500000        6  1.000000
Carnitas Soft Tacos                      37673   941.825000       40  1.000000
Chicken Bowl                            713926   983.369146      761  1.048209
Chicken Burrito                         497303   899.282098      591  1.068716
Chicken Crispy Tacos                     47382  1008.127660       50  1.063830
Chicken Salad                            10465  1162.777778        9  1.000000
Chicken Salad Bowl                      117104  1064.581818      123  1.118182
Chicken Soft Tacos                       98395   855.608696      120  1.043478
Chips                                   208004   985.800948      230  1.090047
Chips and Fresh Tomato Salsa            100419   912.900000      130  1.181818
Chips and Guacamole                     449959   939.371608      506  1.056367
Chips and Mild Fresh Tomato Salsa          279   279.000000        1  1.000000
Chips and Roasted Chili Corn Salsa       14999   681.772727       23  1.045455
Chips and Roasted Chili-Corn Salsa       17462   970.111111       18  1.000000
Chips and Tomatillo Green Chili Salsa    41170   957.441860       45  1.046512
Chips and Tomatillo Red Chili Salsa      45556   949.083333       50  1.041667
Chips and Tomatillo-Green Chili Salsa    21826   704.064516       33  1.064516
Chips and Tomatillo-Red Chili Salsa      18344   917.200000       25  1.250000
Crispy Tacos                               434   217.000000        2  1.000000
Izze                                     10587   529.350000       20  1.000000
Nantucket Nectar                         21814   807.925926       29  1.074074
Salad                                     1150   575.000000        2  1.000000
Side of Chips                            84769   839.297030      110  1.089109
Steak Bowl                              193752   918.255924      221  1.047393
Steak Burrito                           328437   892.491848      386  1.048913
Steak Crispy Tacos                       35818  1023.371429       36  1.028571
Steak Salad                               2362   590.500000        4  1.000000
Steak Salad Bowl                         29590  1020.344828       31  1.068966
Steak Soft Tacos                         50177   912.309091       56  1.018182
Veggie Bowl                              72270   850.235294       87  1.023529
Veggie Burrito                           80962   852.231579       97  1.021053
Veggie Crispy Tacos                        668   668.000000        1  1.000000
Veggie Salad                              7265  1210.833333        6  1.000000
Veggie Salad Bowl                        17303   961.277778       18  1.000000
Veggie Soft Tacos                         5520   788.571429        8  1.142857

In [20]:
chipo.groupby("item_name").sum().drop(columns=["order_id"]).reset_index().sort_values("quantity", ascending=False).head(5) #si en reset_index(ponemos inplace=True, lo sustituye)

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

In [ ]:
#si queremos saber cuantas veces aparece la palabra "chicken bowl", usamos el.count(no sumamos cantidades)

### Step 10. For the most-ordered item, how many items were ordered?

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
chipo.groupby("choice_description").sum().sort_values("quantity", ascending=False).head(1)

### Step 12. How many items were orderd in total?

In [21]:
chipo["quantity"].sum()

4972

### Step 13. Turn the item price into a float

In [22]:
chipo['item_price'] = chipo['item_price'].map(lambda x: x.lstrip('$'))
chipo['item_price'] = chipo['item_price'].map(lambda x: x.lstrip(' '))

In [23]:
#def remove_dollar(x):
    #return float(x[1:-1]) #como sabemos que el $es el elemento 0, empezamos en el 1 , y como el espacio es el ultimo, acabams en -1)

#chipo['item_price'].apply(remove_dollar) #apply aplica una funcion (otra manera)

In [24]:
#chipo['item_price'] = chipo["item_price"].apply(lambda x: float(x[1:-1]) (equivale a remove_dolar)

In [ ]:
#con replace: chipo["item_price_replace"] = chipo["item_price"].str.replace("$", "").astype("float64")//tambien astype(float)

In [25]:
chipo = chipo.astype({"item_price":float})

#### Step 13.a. Check the item price type

In [26]:
chipo.item_price.dtypes

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [27]:
chipo = chipo.astype({"item_price":int})

#### Step 13.c. Check the item price type

In [28]:
chipo.item_price.dtypes

dtype('int32')

### Step 14. How much was the revenue for the period in the dataset?

In [35]:
revenue = chipo["item_price"].sum()
revenue

32052

### Step 15. How many orders were made in the period?

In [37]:
f = len(chipo.order_id.unique())
f

1834

### Step 16. What is the average revenue amount per order?

In [38]:
# Solution 1
chipo["revenue"] = chipo["quantity"]*chipo["item_price"]
print("average revenue per order: ", chipo.revenue.sum() / f)

average revenue per order:  19.965103598691385

In [32]:
# Solution 2

### Step 17. How many different items are sold?

In [39]:
len(chipo.item_name.unique())

50

In [46]:
chipo.item_name.nunique() #como unique sin len

50

In [50]:
len(chipo.groupby("item_name").count().index)

50