## Working on Jsons

In [2]:
import plotly as pt
pt.animation([2, 3, 4])

AttributeError: module 'plotly' has no attribute 'animation'

In [2]:
import requests
import json as js
import pandas as pd

In [3]:
r = requests.get(url='http://data.nba.net/prod/v2/2018/teams.json')
json_readed = js.loads(r.text)

In [4]:
with open('ejercicioDVG.json', 'w+') as archivo1:
    js.dump(json_readed, archivo1, indent=4)

with open ('ejercicioDVG.json') as archivo1:
    line = archivo1.readline()

In [5]:
dvg = pd.DataFrame(json_readed)
dvg = dvg[3:]   #desde la 3 row incluida
dvg = dvg.drop(columns="_internal")  #no me sirve esa columna
league = dvg["league"]
df1 = pd.DataFrame(dvg.league.standard)
df2 = pd.DataFrame(dvg.league.africa)
df3 = pd.DataFrame(dvg.league.sacramento)
df4 = pd.DataFrame(dvg.league.vegas)
df5 = pd.DataFrame(dvg.league.utah)

In [6]:
dvg_otro = dvg.loc["standard":, "league":"league"] #poniendo "league" a secas saldria series en vez de DataFrame.Con los : se convierte en DF. Por eso forzamos los : repitiendo el "league"
dvg_otro  #(otra opcion)

                                                       league
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...
africa      [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...

In [7]:
final_df = pd.concat([df1, df2, df3, df4, df5], axis=0)

print(final_df.info(), "\n""\n" "----------------------------","\n""\n",  final_df.describe())
final_df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88 entries, 0 to 3
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   isNBAFranchise  88 non-null     bool
 1   isAllStar       88 non-null     bool
 2   city            88 non-null     object
 3   altCityName     88 non-null     object
 4   fullName        88 non-null     object
 5   tricode         88 non-null     object
 6   teamId          88 non-null     object
 7   nickname        88 non-null     object
 8   urlName         88 non-null     object
 9   confName        88 non-null     object
 10  divName         88 non-null     object
dtypes: bool(2), object(9)
memory usage: 7.0+ KB
None

----------------------------

        isNBAFranchise isAllStar  city altCityName       fullName tricode  \
count              88        88    88          88             88      88
unique              2         2    45          45             47      47
top              True     False  Team        Team  Atlanta Hawks     LAL
freq               68        82     6           6              3       3

            teamId nickname urlName confName divName
count           88       88      88       88      88
unique          48       45      46        7       9
top     1610612747    Kings   kings   summer
freq             3        4       4       30      52

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,False,True,USA,USA,USA,USA,1610616843,USA,usa,East,East
1,False,True,World,World,World,WLD,1610616844,World,world,East,East
2,False,True,Team,Team,All-Stars,EST,1699999999,All-Stars,assn_away,East,East
3,False,True,Team,Team,All-Stars,WST,1699999998,All-Stars,assn_home,West,West
4,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1610616833,Team Giannis,team_giannis,East,East
...,...,...,...,...,...,...,...,...,...,...,...
29,True,False,Washington,Washington,Washington Wizards,WAS,1610612764,Wizards,wizards,summer,
0,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,Utah,
1,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,Utah,
2,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,Utah,
3,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,Utah,

In [8]:
#forma mas rapida que ir 1 por 1:
for i, x in enumerate(dvg["league"]):
    with open(str(i) + '.json', 'w+') as outfile:
        js.dump(x, outfile, indent=4)           #guardaria 1 archivo por cada uno y luego se guardan (no muy optimo)

In [9]:
#la mejor: crear df vacio e ir añadiendo
df_definitivo = None
for i in range(len(dvg["league"])):
    new_df = pd.read_json(str(i) + ".json")
    if i == 0: #es la primera iteracion
        df_definitivo = new_df
    else:
        df_definitivo = pd.concat([df_definitivo, new_df], axis=0)
df_definitivo

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,False,True,USA,USA,USA,USA,1610616843,USA,usa,East,East
1,False,True,World,World,World,WLD,1610616844,World,world,East,East
2,False,True,Team,Team,All-Stars,EST,1699999999,All-Stars,assn_away,East,East
3,False,True,Team,Team,All-Stars,WST,1699999998,All-Stars,assn_home,West,West
4,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1610616833,Team Giannis,team_giannis,East,East
...,...,...,...,...,...,...,...,...,...,...,...
29,True,False,Washington,Washington,Washington Wizards,WAS,1610612764,Wizards,wizards,summer,
0,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,Utah,
1,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,Utah,
2,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,Utah,
3,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,Utah,

In [10]:
dff = None       #MEJOR VERSION SIN DUDA
for i, x in enumerate(dvg["league"]):
    if i == 0:
        dff = pd.DataFrame(x)
    else:
        dff = pd.concat([dff, pd.DataFrame(x)], axis=0)
dff

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,False,True,USA,USA,USA,USA,1610616843,USA,usa,East,East
1,False,True,World,World,World,WLD,1610616844,World,world,East,East
2,False,True,Team,Team,All-Stars,EST,1699999999,All-Stars,assn_away,East,East
3,False,True,Team,Team,All-Stars,WST,1699999998,All-Stars,assn_home,West,West
4,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1610616833,Team Giannis,team_giannis,East,East
...,...,...,...,...,...,...,...,...,...,...,...
29,True,False,Washington,Washington,Washington Wizards,WAS,1610612764,Wizards,wizards,summer,
0,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,Utah,
1,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,Utah,
2,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,Utah,
3,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,Utah,

### Data Mining & Data Wrangling
As you can see, there are jsons inside the original json. For that, we have to mining the json (data mining) to be able to use it correctly (data wrangling). 

How do you solve this issue? Research about this and try a solution.