Crea un programa que, llamando a una función clean_df(path), lea un archivo leíble por pandas, lo transforme a dataframe y lo limpie si es posible. 

La función clean_df() retornará el dataframe limpiado.

En la función clean_df:

- path: representa la ubicación o url de donde pandas lee el archivo a cargar.

In [1]:
import sys
import pickle
import os
import html5lib
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
from scipy import stats
from sklearn import datasets
from xgboost import XGBRegressor
import matplotlib.pyplot as plt
sys.path.append('C:\\DATA_SCIENCE')
from LIBRARY.Libreria_Folders_DVG import *
from LIBRARY.Libreria_Pandas_DVG import *
from LIBRARY.Libreria_ML_DVG import *
from LIBRARY.Libreria_Maths_DVG import *
from LIBRARY.Libreria_Graphs_DVG import *

In [10]:
def clean_df(path, quantile_low, quantile_high):    
    barr_add(path)
    for x in path:
        if path[-3:] == 'csv':
            df = pd.read_csv(path)
            outlier_quant(df, quantile_low, quantile_high)
            nan_out_cols(df)
            nan_out_rows(df)
        elif path[-4:] == 'xlsx':
            df = pd.read_excel(path)
            outlier_quant(df, quantile_low, quantile_high)
            nan_out_cols(df)
            nan_out_rows(df)
        elif path[-4:] == 'json':            
            with open(path, "r") as json_file_readed:
                df = pd.DataFrame(json.load(json_file_readed))
                outlier_quant(df, quantile_low, quantile_high)
                nan_out_cols(df)
                nan_out_rows(df)
        elif path[-4:] == 'html':
            pd.read_html(path)
            outlier_quant(df, quantile_low, quantile_high)
            nan_out_cols(df)
            nan_out_rows(df)            
        
        else: 
            print('Please use [csv / json / xlsx / html] files only')

        return df

In [9]:
clean_df('C:\DATA_SCIENCE\MACHINE_LEARNING\data\iris.csv', 0.01, 0.099)

path: C:\DATA_SCIENCE\MACHINE_LEARNING\data\iris.csv

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]