In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect("prueba_tecnica_BI.db")    #creamos archivo

In [3]:
dict_excel = pd.read_excel("dataset_pruebaTecnica___.xlsx", sheet_name=None, engine='openpyxl')

In [4]:
cursor = conn.cursor()

In [5]:
dict_excel.keys()          #we have a dictionary by now

dict_keys(['client_dim', 'contract_dim', 'tickets_ft'])

In [6]:
for x in dict_excel.keys():
    dict_excel[x].to_sql(x , conn)

In [7]:
query = """
SELECT DISTINCT cl.client_id, COUNT(*)
FROM client_dim cl
JOIN contract_dim co ON cl.client_id = co.client_id
"""

In [8]:
pd.read_sql_query(query, conn)

   client_id  COUNT(*)
0         16      1422