# Python | day 2 | collections

List, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp
    
    Thanks Antonio!

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 
    - 4 differents lists containing the names of the classmates sitting on each table of the class plus the ones following the class on remote.  
    
If you're not in class anymore and you don't remember how the class was distributed, use the names of your classmates and make 4 different lists with them.

Print both created lists.

In [60]:
student_list = ["Alex Balseiro", "Maria Cagigas", "Kapil Dadlani", "Maria del Mar Delgado", "Estela Falgas", "Alfonso Garcia", "Javier Gil", "Juan Guerrero", "Antonio Leal", "Miguel Merry", "Miguel", "Marta Miñana", "Roberto Molleda", "Javier Olcoz", "Ariadna Puigventos", "Maria Angeles Rodriguez", "Leonardo Sanchez", "Anais Villegas"]
first_row = ["Maria Cagigas", "Maria Angeles Rodriguez", "Alfonso Garcia" ]
middle_row = ["Estela Falgas", "Leonardo Sanchez", "Miguel Merry",  ]
last_row = ["Roberto Molleda","Miguel", "Kapil Dadlani", "Juan Guerrero"]
remote = ["Alex Balseiro", "Anais Villegas", "Ariadna Puigventos", "Maria del Mar Delgado", "Javier Olcoz", "Antonio Leal", "Javier Gil", "Marta Miñana"]
print(student_list)
print(first_row)
print(middle_row)
print(last_row)
print(remote)

['Alex Balseiro', 'Maria Cagigas', 'Kapil Dadlani', 'Maria del Mar Delgado', 'Estela Falgas', 'Alfonso Garcia', 'Javier Gil', 'Juan Guerrero', 'Antonio Leal', 'Miguel Merry', 'Miguel', 'Marta Miñana', 'Roberto Molleda', 'Javier Olcoz', 'Ariadna Puigventos', 'Maria Angeles Rodriguez', 'Leonardo Sanchez', 'Anais Villegas']
['Maria Cagigas', 'Maria Angeles Rodriguez', 'Alfonso Garcia']
['Estela Falgas', 'Leonardo Sanchez', 'Miguel Merry']
['Roberto Molleda', 'Miguel', 'Kapil Dadlani', 'Juan Guerrero']
['Alex Balseiro', 'Anais Villegas', 'Ariadna Puigventos', 'Maria del Mar Delgado', 'Javier Olcoz', 'Antonio Leal', 'Javier Gil', 'Marta Miñana']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [61]:
empty_list = []

2. Create a list with 5 items, call it **my_list**

In [62]:
my_list = ["Laptop", "Piano", 1.78, "Guitar", "Bicycle"]

3. Find the length of **my_list**

In [63]:
len(my_list)

5

4. Get the first item, the middle item and the last item of **my_list**

In [64]:
print(my_list[0])
print(my_list[3])
print(my_list[-1])

Laptop
Guitar
Bicycle

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [65]:
name = "Aurelio"
age = 56
height = 1.75
country = "Argentina"
python_version = 3.8

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [66]:
mixed_data_types = [name, age, height, country, python_version]

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [67]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]


8. Print **it_companies** using print()

In [68]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [69]:
print(len(it_companies))

7

11. Print *Google*

In [70]:
print(it_companies[1])
print("Google") #(también)

Google
Google

10. Print the first, middle and last company

In [71]:
print(it_companies[0])
print(it_companies[3])
print(it_companies[-1])

Facebook
Apple
Amazon

11. Assign a new value to the last element of the list

In [72]:
it_companies[-1] = "Twitter"

12. Print the list after modifying one of the companies

In [73]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Twitter']

## Bonus track.

13. Add an IT company to **it_companies**

In [74]:
it_companies.append("Paypal")

14. Check if *Apple* exists in the **it_companies** list.

In [75]:
"Apple" in it_companies

True

15. Sort the list using `sort()` method

In [76]:
it_companies.sort()

16. Reverse the list in descending order using `reverse()` method

In [77]:
it_companies.reverse()

17. Slice out the first 3 companies from the list

In [78]:
>>> it_companies[:3]
>>> it_companies[0:3] #(también)

['Twitter', 'Paypal', 'Oracle']

18. Remove the last IT company from the list

In [79]:
print(it_companies[-1])
it_companies.remove("Apple")

Apple

19. Remove all IT companies from the list

In [80]:
it_companies.clear()

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [81]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
end = front_end + back_end

21. From the **end** list print 'HTML'

In [82]:
print(end)
print(end[0][0])

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
HTML

22. From the end list print the 'C' from the word 'CSS'

In [83]:
print(end[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [84]:
tup = ("T",)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [85]:
type(tup)

tuple

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [86]:
#No because .append is not valid for tuples. It shall be changed to a list typein order to make a change. 
tup = list(tup)
type(tup)
tup.append("H")
tup.append("E")
tup.append(" ")
tup.append("B")
tup.append("R")
tup.append("I")
tup.append("D")
tup.append("G")
tup.append("E")
print(type(tup))
tup = tuple(tup)
print(type(tup))
print(tup)

<class 'list'>
<class 'tuple'>
('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [89]:
tup = (tup, "T", "H", "E", " ", "B", "R", "I", "D", "G", "E")
print(tup)
#Elements can be added but not modified or removed for a tuple

(('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E'), 'T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [88]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [96]:
lista_repes = set(lista_repes)
type(lista_repes)
print(lista_repes)
my_set = {'diomedes', 'science', 'data', 'clara', 'python', 'gabriel'}

{'diomedes', 'science', 'data', 'clara', 'python', 'gabriel'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [106]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [107]:
my_set = list(my_set)
print(my_set[0])
my_set = set(my_set)

science